body {
  background-color: #D6BBC0;
}
h1{
  font-size:330%;
  letter-spacing: 2px;
  color: #8F2D56;
  font-family: "Garamond";
}
P{
  font-size:170%;
    color: #C585B3;
  font-family: "Garamond";
}
img{
  width: 300px; 
  border-style:
    border-color: 
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 15px;
  color: #C585B3;
}
li a:hover{
  background-color: #8F2D56;
}
